* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --mainColor: rgb(223, 0, 85);
  --clickColor: rgb(0, 114, 9);
  --headerColor: #54433e;
  --bodyColor: #ccc;
  --whiteColor: rgb(255, 255, 255);
  --borderColor: rgb(139, 139, 139);
  --discardColor: rgb(255, 56, 56);
}

body {
  font-family: Rajdhani;
  font-size: 12px;
  background-color: var(--bodyColor);
}

.header {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 40px;
  background-color: var(--headerColor);
  position: sticky;
  top: 0;
  border-bottom: 1px solid var(--borderColor);
}

.header h1 {
  flex-grow: 1;
  text-align: center;
  color: var(--whiteColor);
}

.header i {
  font-size: 1.6rem;
  color: var(--whiteColor);
  cursor: pointer;
}

.header a:hover {
  color: var(--clickColor);
}

.container {
  margin: 20px;
}

.icons i {
  margin: 0 10px;
  color: var(--whiteColor);
  cursor: pointer;
  position: relative;
}

.icons i span {
  background-color: var(--mainColor);
  width: 20px;
  height: 20px;
  font-size: 0.8rem;
  border-radius: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -10px;
  right: -10px;
}

.title h2 {
  margin: 70px 0 20px 0;
  text-align: center;
  font-size: 30px;
}

.products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1;
}

.product {
  height: 350px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: 1fr 1fr 1fr;
  border-radius: 60px 60px 0 0;
  background-color: #fff;
  margin: 30px 50px;
}

.product img {
  width: 300px;
  height: 250px;
  border-radius: 60px 60px 0 0;
}

.info {
  display: flex;
  flex-direction: row;
  flex-grow: 2;
}

.info p {
  width: 205;
  text-align: center;
  padding: 15px;
  font-size: 20px;
}

.info i {
  width: 5%;
  text-align: left;
  padding: 20px;
  font-size: 15px;
}

.info h3 {
  width: 70%;
  text-align: center;
  padding: 15px;
  font-size: 20px;
}

.addtocart {
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: center;
  transition: height 2s;
}

.addtocart button span {
  margin: 0 10px;
}

.addtocart i {
  color: var(--mainColor);
  border-radius: 50%;
  background-color: var(--whiteColor);
  padding: 4px;
}

.addtocart button {
  padding: 0 40px;
  background-color: var(--headerColor);
  outline: 0;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  color: var(--whiteColor);
  font-size: 15px;
}

.addtocart button:hover {
  background-color: var(--clickColor);
  color: #fff;
  height: 37px;
  width: 195px;
  font-size: 15px;
  font-weight: bold;
}

.text {
  width: 90%;
  margin: 5px 10px;
}

.text p {
  text-align: justify;
  font-size: 15px;
}

.payment {
  margin: 50px 20px;
}

.footer {
  display: grid;
  margin: 50px 10px;
  justify-items: center;
}

.footer .paybtn {
  width: 150px;
  height: 80px;
  font-size: 15px;
  margin: 5px;
  outline: 0;
  border: 0ch;
  background-color: var(--headerColor);
  color: #fff;
  cursor: pointer;
}

.footer .paybtn i {
  font-size: 22px;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.541);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 5;
  display: none;
}

.cart {
  width: 600px;
  height: 350px;
  background-color: #fff;
  border-radius: 0.8rem;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 250px;
  border: 1px solid #ccc;
  box-shadow: 0 20px 120px rgba(0, 0, 0, 0.07);
  top: -100%;
  left: 30%;
  position: absolute;
  z-index: 10;
  opacity: 0;
  transition: all 0.35s ease-in-out;
  margin: 0 auto;
}

.cart h3 {
  text-align: center;
  margin: 0;
  padding: 20px;
  border-bottom: 0.05rem solid #d4d0d0;
}

.cart-item-desc h4,
h5 {
  font-size: 1.1rem;
}

.cart-content {
  width: 100%;
  overflow: auto;
}
.cart-item {
  display: flex;
  flex-direction: row;
  margin: 10px 10px;
  align-items: center;
}

.cart-item .cart-item-desc {
  flex-grow: 1;
  margin: 0 10px;
}

.cart-item-controller {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cart-item-controller .fa-minus-circle {
  color: var(--discardColor);
}

.cart-item-delete .fa-trash {
  color: var(--discardColor);
}

.cart-item-controller .fa-plus-circle {
  color: var(--clickColor);
}

.cart-item-controller p {
  font-size: 1.2em;
  font-weight: bold;
  background-color: var(--bodyColor);
  padding: 0 15px;
  border-radius: 5px;
}

.cart button,
i {
  cursor: pointer;
}

.cart-content .fas {
  font-size: 1.3rem;
}

.clear-cart {
  display: flex;
  color: var(--headerColor);
  border: 1 solid var(--headerColor);
  background-color: var(--whiteColor);
}

.clear-cart:hover {
  background-color: var(--discardColor);
  color: var(--whiteColor);
}

.cart-footer i {
  margin-right: 5px;
}

.cart-footer span {
  font-size: 1.2rem;
  font-weight: bold;
}

.cart-item img {
  width: 80px;
  height: 80px;
  border-radius: 25%;
  margin: 0 10px;
}

.cart-item i {
  margin: 0 10px;
}

.cart-footer {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--bodyColor);
  padding: 17px 20px;
  border-radius: 0 0 0.8rem 0.8rem;
  border-top: 0.05rem solid #9e9d9d;
}

.cart-footer .btn {
  font-size: 1rem;
  margin: 0 10px;
  padding: 5px;
  border-radius: 5px;
}

.cart-footer span {
  flex-grow: 1;
}

.cart-item-confirm {
  background-color: var(--clickColor);
  color: rgb(255, 255, 255);
  outline: 0;
  border: 0;
}

.menu-backdrop {
  background-color: rgba(0, 0, 0, 0.541);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 5;
  display: none;
}

.menu-content {
  width: 400px;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 250px;
  border: 1px solid #ccc;
  box-shadow: 0 20px 120px rgba(0, 0, 0, 0.07);
  left: 100;
  position: fixed;
  z-index: 10;
  opacity: 0;
  transition: left 1s ease-in-out;
  margin: 0 auto;
  padding: 20px;
}
.menu-content ul {
  margin: 0.5rem;
  list-style: none;
}
.ourlogo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.social {
  display: flex;
  flex-direction: row;
  font-size: 2.5rem;
  justify-content: space-around;
  margin-top: 2rem;
  color: var(--headerColor);
  cursor: pointer;
}
.social i:hover {
  color: var(--discardColor);
}
.menu-content ul li {
  font-size: 1.2rem;
  font-weight: bold;
  width: 100%;
  height: 60px;
  color: var(--headerColor);
}
.menu-content ul li:hover {
  color: var(--discardColor);
  cursor: pointer;
}
.menu-content ul li i {
  margin: 0 5px;
}
.close-icon {
  color: var(--discardColor);
  margin: 5px 5px 15px 0;
  text-align: right;
  font-size: 1.7rem;
}

@media screen and (min-width: 1600px) {
  .product {
    height: 400px;
    margin: 30px 70px;
  }

  .product img {
    width: 400px;
  }

  .addtocart button {
    padding: 0 20px;
    font-size: 16px;
    height: 40px;
  }

  .addtocart button:hover {
    height: 45px;
    width: 160px;
    font-size: 18px;
    padding: 10px 0;
  }

  .payment {
    justify-content: center;
    align-items: center;
  }
  .cart {
    left: 32%;
    width: 700px;
    height: 450px;
  }
  .menu-content {
    width: 500px;
  }
  .header h1 {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 1200px) {
  .payment {
    text-align: center;
  }
  .cart {
    left: 20%;
    width: 550px;
  }
}
@media screen and (max-width: 900px) {
  .cart {
    left: 15%;
  }
}
@media screen and (max-width: 800px) {
  .cart {
    left: 14%;
    width: 500px;
    height: 300px;
  }
}
@media screen and (max-width: 700px) {
  .cart {
    left: 10%;
    width: 450px;
    height: 300px;
  }
  .cart-item img {
    width: 70px;
    height: 70px;
    border-radius: 15%;
    margin: 0 5px;
  }
}
@media screen and (max-width: 600px) {
  .cart {
    left: 9%;
    width: 420px;
    height: 300px;
  }
  .cart-footer i {
    display: none;
  }
  .cart-item img {
    width: 60px;
    height: 60px;
    border-radius: 15%;
    margin: 0 5px;
  }
}
@media screen and (max-width: 500px) {
  .cart {
    left: 8%;
    width: 370px;
    height: 300px;
  }
  .cart-footer i {
    display: none;
  }

  .cart-footer span {
    font-size: 1rem;
  }
  .cart-footer i {
    display: none;
  }
  .cart-item img {
    width: 60px;
    height: 60px;
    border-radius: 15%;
    margin: 0 5px;
  }
}
@media screen and (max-width: 450px) {
  .cart {
    left: 10%;
    width: 330px;
    height: 330px;
  }
  .cart-footer .btn {
    font-size: 0.8rem;
    margin: 0 3px;
    padding: 5px;
    border-radius: 5px;
  }
  .cart-footer i {
    display: none;
  }

  .cart-footer span {
    font-size: 1rem;
  }
   .cart-item img {
    width: 60px;
    height: 60px;
    border-radius: 15%;
    margin: 0 5px;
  }
   .cart-footer {
    height: 110px;

}
@media screen and (max-width: 400px) {
  .cart {
    left: 8%;
    width: 320px;
    height: 380px;
  }
  .cart-item-desc h4,
  h5 {
    font-size: 0.8rem;
  }
  .cart-item img {
    width: 50px;
    height: 50px;
    border-radius: 15%;
    margin: 0 2px;
  }
  .cart-footer .btn {
    width: 130px;
    justify-content: center;
    font-size: 1rem;
    margin: 5px;
  }
  .cart-item-controller {
    display: block;
    margin: 0 10px;
  }
  .payment {
    text-align: center;
  }
  .menu-content {
    width: 300px;
  }
  .ourlogo {
    display: flex;
    width: 50%;
    flex-direction: row;
    justify-content: left;
  }
  .header h1 {
    font-size: 1rem;
  }
  .cart-footer i {
    display: none;
  }
  .cart-footer {
    height: 140px;
    display: flex;
    flex-direction: column;
    padding: 1px;
  }

  .cart-content .fas {
    font-size: 1.2rem;
    margin: 3px;
  }
  .cart-footer span {
    font-size: 0.9rem;
    margin-top: 10px;
  }
  .cart h3 {
    padding: 5px;
  }
}
@media screen and (max-width: 380px) {
  .cart {
    left: 11%;
    width: 270px;
    height: 350px;
  }
  .cart-footer .btn {
    font-size: 0.9rem;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
  }
  .cart-footer i {
    display: none;
  }
  .cart-footer {
    height: 120px;
    display: flex;
    flex-direction: column;
  }
  .cart-footer span {
    font-size: 1.2rem;
  }
  .cart-footer i {
    display: none;
  }
  .cart-footer span {
    font-size: 1rem;
  }
  .cart-item img {
    width: 50px;
    height: 50px;
    border-radius: 15%;
    margin: 0 5px;
  }
}
@media screen and (max-width: 340px) {
  .cart {
    left: 11%;
    width: 250px;
    height: 350px;
  }
  .cart-footer .btn {
    font-size: 1rem;
    margin: 6px;
    padding: 5px;
    border-radius: 5px;
    width: 100px;
  }
  .cart-footer i {
    display: none;
  }

  .cart-footer span {
    font-size: 1rem;
  }
  .cart-footer i {
    display: none;
  }
  .cart-item img {
    width: 40px;
    height: 40px;
    border-radius: 15%;
    margin: 0 10px;
  }
  .cart-item-controller {
    display: block;
    margin: 0 10px;
  }
  .cart-footer {
    display: flex;
    flex-direction: column;
    height: 120px;
    padding: 10px;
  }
  .cart h3 {
    padding: 10px;
  }
}
